{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}
        
{% block main %}
<style>
    h1, h2, p{
        color: #1ccc5b;
    }

    body {
        background-color: #141414;
    }

    input {
        background-color: #141414;
        align-self: center;
        border-color: #1ccc5b;
        border-radius: 3px;
    }

    .center {
        text-align: center;
    }

    .playlist:hover{
        color: #1ccc5b;
        background-color: #444444;
    }
    
    .song:hover{
        color: #1ccc5b;
        background-color: #444444;
    }

    .navbar a {
        padding: 20px;
    }

    a {
        color: #1ccc5b
    }
    .index {
        background-color: #1ccc5b;
        color: #000;
    }

</style>
{% endblock %}
