{% extends "layout.html" %}

{% block title %}
    Playlist analysis
{% endblock %}
        
{% block main %}
<style>
    h1, h2, p{
        color: #1ccc5b;
    }

    body {
        background-color: #141414;
    }

    input {
        background-color: #141414;
        align-self: center;
        border-color: #1ccc5b;
        border-radius: 3px;
    }

    input {
        color:#1ccc5b;
    }

    .center {
        text-align: center;
    }

    .song:hover{
        color: #1ccc5b;
        background-color: #444444;
    }
    
    .index:hover{
        color: #1ccc5b;
        background-color: #444444;
    }

    .navbar a {
        padding: 20px;
    }

    a {
        color: #1ccc5b
    }
    .playlist {
        background-color: #1ccc5b;
        color: #000;
    }

</style>

<div class="center">
    <br>
    <br>
    <br>
    <p>
        Enter the URL of your playlist
    </p>
    <form>
        <input placeholder="URL"></input>
    </form>
</div>
{% endblock %}